div{
    box-sizing: border-box;
}

body {
    margin : 0;
}

.profile{
width: 30%;
display: block;
margin-left: auto;
margin-right: auto;
}
.title{
    text-align: center;
    font-size: 25px;
}
.content{
    text-align: center;
}
.box{
    width: 200px;
    background-color: cadetblue;
    margin: 10px;
    padding: 40px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.container{
    width: 800px;
    /* 마진 상 우 하 좌측 */
    margin: 10px auto 30px auto;
    display: block;
}
.blog-content{
    width: 80%;
    height: 200px;
    background:#eee;
    float: left;
}
.blog-img{
    width: 20%;
    height: 200px;
    background: yellow;
    float: left;
}
.blog-profile{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: block;
    float: left;
}
.blog-name{
    float: left;
}
nav{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.navBar>li{
display: inline-block;
width: 60px;
text-align: center;
background: #eee;
padding: 10px;
border-radius: 5px;
}
.link{
    font-size: 16px;
    /* 밑줄 제거 */
    text-decoration: none;
}
.link:visited{
    color: black;
}
@font-face {
    font-family: 'HS-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.main-background{
    width: 100%;
    height: 800px;
    background-image:  url(/img/santa.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* margin collapse 현상 방지 */
    padding: 1px;
    position: relative;
}
.main-title{
    color: white;
    font-family :'HS-Regular';
    font-size: 40px;
    margin-top: 350px;
    margin-left: 300px;
}
.main-content{
    color: white;
    font-family: 'HS-Regular';
    margin-left: 300px;
}
.main-button{
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 15px;
    /* position absolute 가운데정렬하기 */
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;

}
.main-button>a{
    color: blue;
    font-family: 'HS-Regular';
    font-size: 20px;
    text-decoration: none;
}
.explain-box{
    width: 80%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    font-family :'HS-Regular';
    font-size: 20px;
    text-align: center;
    background-color: #eee;
    position: relative;
    top: -30px;
}